* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: grid;
    grid-template-areas:
        "header header"
        "aside main";
    background-image: url(imgs/fondo2.jpg);
    background-repeat: no-repeat;
}

.titulosAnimalesEspecies {
    padding: 5px;
}

.iconHeader {
    width: 40px;
}

.texteDecoratingNone {
    text-decoration: none;
}

/* header */
.header {
    grid-area: header;

}

.main {
    grid-area: main;
    display: flex;
    flex-direction: column;

}

.aside {
    grid-area: aside;
}

.searchHeader {
    border: solid 2px white;
}


/* colores */
.colorWhite {
    color: white;
}

.colorNav {
    background-color: #6135ce;
}

.colorButton {
    color: white;
    border: solid 2px white;
    padding: 5px;
    border-radius: 10px;
    background-color: #0d6efd;
}

/* main */
/* div aside */

/* formulario Comentario */
.sectionForm {
    display: none;
    padding-left: 10px;
    padding-top: 20px;
}

.divFormContainer {
    width: 80%;
    background-color: #1C6064;
}

.formulario textarea {
    resize: none;
    min-height: 200px;
}

/* comentarios */
.divComentario {
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 20px;
    max-width: 500px;
    min-height: 80px;

}

.sectionMensajes {
    padding-top: 10px;
    display: flex;
    padding-left: 10px;
    flex-direction: column;
}

/* zonas */
.ulZonas {
    display: flex;
}

.btonZona {
    width: 50%;
    margin-top: 10px;
}

.ulAnimales {
    width: 100px;
}

/* listado especies */
.sectionListEspecies {
    padding-left: 10px;
}

.listEspecies {
    width: 250px;
    margin-top: 10px;
    height: fit-content;
}

.btonEspecie {
    background-color: #bed84b;
    border: solid 2px white;
    max-width: 40%;
    margin-top: 10px;
    margin-left: 10px;
}

.liEspecie {
    display: flex;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #d3ddef;
}

/* animales */
.botonAnimalAdd {
    background-color: #bed84b;
    border: solid 2px white;
    margin-right: 10px;
}

.botonVerAnimal {
    background-color: rgb(205, 129, 129);
    border: solid 2px white;
    color: white;
}

/* sectionAnimalEspecie */
.sectionEspecieAnimal {
    display: flex;
    flex-wrap: wrap;
}

.divBotonesComent {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

/* boton comentarios */
.botonVerRespuestas {
    background-color: #212529;
    color: white;
    border-color: white;
}

/* respuestas */
.divRespuestaContainer {
    background-color: #D3DDEF;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
}

.divRespuesta {
    background-color: #212529;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

/* section resultados busqueda */
.resultadosBusqueda{
    border-left: solid 2px white;
    background-color: #212529;
    color: white;
}
.zonaBusq {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
 
}

.especieBusq {
    margin-left: 40px;
}

.animalBusq {
    margin-left: 90px;
}

.comentarioBusq {
    margin-left: 130px;
}

.respuestaBusq {
    margin-left: 190px;
}
.lineaSeparadora{
    border-bottom: solid 2px white;
}