* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: grid;
    grid-template-areas:
        "header header"
        "aside main";
    background-image: url(imgs/fondo2.jpg);
    background-repeat: no-repeat;

}

.iconHeader {
    width: 40px;
}

.texteDecoratingNone {
    text-decoration: none;
}

/* header */
.header {
    grid-area: header;

}

.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    
}

.aside {
    grid-area: aside;
}

.searchHeader {
    border: solid 2px white;
}


/* colores */
.colorWhite {
    color: white;
}

.colorNav {
    background-color: #6135ce;
}

.colorButton {
    color: white;
    border: solid 2px white;
    padding: 5px;
    border-radius: 10px;
    background-color: #0d6efd;
}

/* main */
/* div aside */
.divAside{
    width: 100%;
}
/* formulario Comentario */
.sectionForm{
    display: none;
    padding-left: 10px;
    padding-top: 20px;
}
.divFormContainer{
    width: 80%;
    background-color: #1C6064;
}
.formulario  textarea {
    resize: none;
    min-height: 200px;
}
/* comentarios */
.divComentario{
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 20px;
    width: 400px;
    min-height: 80px;

}
.sectionMensajes{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
/* zonas */
.ulZonas{
    display: flex;
}
.btonZona{
    width: 50%;
    margin-top: 10px;
}
.ulAnimales{
    width: 100px;
}
/* listado especies */
.sectionListEspecies{
    padding-left: 10px;
}
.listEspecies{
    width: 250px;
    margin-top: 10px;
    height: fit-content;
}
.btonEspecie{
    background-color: #bed84b;
    border: solid 2px white;
    max-width: 40%;
    margin-top: 10px;
    margin-left: 10px;
}
.liEspecie{
    display: flex;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #d3ddef;
}
/* animales */
.botonAnimalAdd{
    background-color: #bed84b;
    border: solid 2px white;
    margin-right: 10px;
}
.botonVerAnimal{
    background-color: rgb(205, 129, 129);
    border: solid 2px white;
    color: white;
}
/* sectionAnimalEspecie */
.sectionAnimalEspecie{
    display: flex;
    flex-direction: row;
}